@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);



#menu-8 .navbar-toggler {
  color: #000;
}
#header1-9 H1 {
  font-size: 48px;
}
#header2-b P {
  font-size: 46px;
  color: #ffffff;
}
#slider-c P {
  font-size: 46px;
}
#header3-l SMALL {
  font-size: 22px;
  font-family: 'Indie Flower', cursive;
}
#content1-m P {
  font-size: 20px;
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#msg-box4-1e .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-w .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-w .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-1k .navbar-toggler {
  color: #000;
}
#menu-1r .navbar-toggler {
  color: #000;
}
#menu-1u .navbar-toggler {
  color: #000;
}
#menu-1x .navbar-toggler {
  color: #000;
}
#menu-20 .navbar-toggler {
  color: #000;
}
#menu-23 .navbar-toggler {
  color: #000;
}
#menu-26 .navbar-toggler {
  color: #000;
}
#menu-29 .navbar-toggler {
  color: #000;
}
#menu-2c .navbar-toggler {
  color: #000;
}
#menu-2f .navbar-toggler {
  color: #000;
}
#menu-2i .navbar-toggler {
  color: #000;
}
#menu-2l .navbar-toggler {
  color: #000;
}
#menu-2o .navbar-toggler {
  color: #000;
}
#menu-2r .navbar-toggler {
  color: #000;
}
#menu-2x .navbar-toggler {
  color: #000;
}
#menu-30 .navbar-toggler {
  color: #000;
}
#menu-33 .navbar-toggler {
  color: #000;
}
#menu-36 .navbar-toggler {
  color: #000;
}
#menu-39 .navbar-toggler {
  color: #000;
}
#menu-3c .navbar-toggler {
  color: #000;
}
